@model List<CristobalCruz.Models.Prestamo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /> 
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-primary" style="text-align:center">LISTADO DE PRESTAMOS</h2>
        </div>      
    </div>

    <br />    <br />
    <table id="tblPrestamos" class="table table-striped table-bordered" style="width:100%;">
       <thead>
           <tr>
               <th>No</th>
               <th>Descripcion</th>
               <th>Monto</th>
               <th>Interes</th>
               <th>Cuota</th>
                <th>Cliente</th>
                 <th>Opciones</th>
           </tr>
       </thead> 
        <tbody>
            @{
                foreach(var item2 in Model)
                {
                    <tr>
                <td>@item2.Id</td>
                 <td>@item2.Descripcion</td>
                 <td>@item2.Monto</td>
                 <td>@item2.Interes</td>
                 <td>@item2.Cuota</td>
                 <td>@item2.ClienteId</td>
                    <td>                  
                    <a class="btn btn-success" href="@Url.Action("CreateRecibo","Recibos", new{PrestamoId=@item2.Id, ClienteId=@item2.ClienteId})" title="ver">Pagar</a>
                    <a class="btn btn-primary" href="@Url.Action("EditPrestamo",new{id = item2.Id})">Editar</a> 
                      <a data-id="@item2.Id" class="btn btn-info verCliente" href="Javascript:void(0);">Cliente</a>  
                     <a data-id="@item2.ClienteId" class="btn btn-info verRecibos" href="Javascript:void(0);">Factura</a>
                     </td>
                </tr>   
                }
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DETALLE DE RECIBOS</h5>      
      </div>
      <div class="modal-body">
        <span class="valordescripcion1">
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblPrestamos').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
  //------------------------------------------------------------------      
        $(".verRecibos").click(function(){   
       var Id= $(this).attr("data-id");
      var ggg = $.ajax({
            url: "/Usuario/Prestamos/ObtenerReciboxPrestamos",
            type: "POST",
            data: {
              "Id":Id 
            }
        });
        ggg.done(function(data){
         $(".valordescripcion1").text(data.message);
         $("#exampleModal2").modal("show");
        });
        ggg.fail(function(){});
           toastr.error(data.message);
         }) 

//------------------------------------------------------------------
     $(".verCliente").click(function(){   
       var Id= $(this).attr("data-id");
      var ggg = $.ajax({
            url: "/Usuario/Prestamos/ObtenerCliente",
            type: "POST",
            data: {
              "Id":Id 
            }
        });
        ggg.done(function(data){
         $(".valordescripcion1").text(data.message);
         $("#exampleModal2").modal("show");
        });
        ggg.fail(function(){});
           toastr.error(data.message);
         }) 

    </script>
}
