@model List<CristobalCruz.Models.Prestamo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) --> 
      <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">LISTADO DE PRESTAMOS </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Prestamo</a></li>
              <li class="breadcrumb-item active"> Listado</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">           
            <!-- /.card -->

            <div class="card">             
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tblPrestamo" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                <th style="width:3em">No</th>
               <th style="width:10em">Descripcion</th>
               <th style="width:3em">Monto</th>
               <th style="width:3em">Interes</th>
               <th style="width:3em">Cuota</th>
                <th style="width:5em">No Cliente</th>
                 <th>Opciones</th>          
                  </tr>
                  </thead>
                  <tbody>
                   @{
                foreach(var item2 in Model)
                {
                    <tr>
                <td>@item2.Id</td>
                 <td>@item2.Descripcion</td>
                 <td>@item2.Monto</td>
                 <td>@item2.Interes</td>
                 <td>@item2.Cuota</td>
                 <td>@item2.ClienteId</td>
                    <td>                  
                    <a class="btn btn-success" href="@Url.Action("CreateRecibo","Recibos", new{PrestamoId=@item2.Id, ClienteId=@item2.ClienteId})" title="ver">Pagar</a>
                    
                    <a class="btn btn-primary" href="@Url.Action("EditPrestamo",new{id = item2.Id})">Editar</a> 
                      <a data-id="@item2.ClienteId" class="btn btn-info verCliente" href="Javascript:void(0);">Cliente</a>  
                     <a data-id="@item2.Id" class="btn btn-info verRecibos" href="Javascript:void(0);">Factura</a>
                     </td>
                </tr>   
                }
            }            
                  </tbody>                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 
</div>
</body>


<!-- Modal -->
<div class="modal fade" id="exampleModalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DETALLE DE CLIENTE</h5>      
      </div>
      <div class="modal-body">
            <div class="container">
             <div class="row">
               <div class="col-12">
                    <label><strong>Nombre completo</strong></label><br />   
                  <span class="valorNombre"> </span>
              </div>
              <div class="col-12">
                    <label><strong>Dirección</strong></label><br />    
                   <span class="valorDireccion"> </span>
              </div>
              <div class="col-6">
                     <label><strong>Teléfono</strong></label><br />      
                   <span class="valorTelefono"> </span>
              </div>
               <div class="col-6">
                     <label><strong>Correo Electronico</strong></label><br />      
                   <span class="valorEmail"> </span>
              </div>
            </div>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalRecibos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DETALLE DE RECIBO</h5>      
      </div>
      <div class="modal-body">
            <div class="container">
             <div class="row">
               <div class="col-12">
                    <label><strong>Descripción</strong></label><br />   
                  <span class="valordescr"> </span>
              </div>
              <div class="col-6">
                    <label><strong>Monto</strong></label><br />    
                   <span class="valorMonto"> </span>
              </div>
              
              <div class="col-6">
                     <label><strong>Id Cliente</strong></label><br />      
                   <span class="valorcliente"> </span>
              </div>
             
            </div>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>
@section Scripts{ 
    <script src="~/js/misJsProyecto.js" type="text/javascript"></script>
    
}
