@model List<CristobalCruz.Models.Cliente>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="row">

<div class="col-md-10">
<h1 class="text-info">Listado de Clientes</h1> 
</div>
<div class="col-md-2">
  <a  class="btn btn-info" asp-controller="Home" asp-action="ClienteNuevo" ><i class="fa fa-user-plus" ></i></a>
  <a  class="btn btn-info" asp-controller="Home" asp-action="ClientesListado" ><i class="fa fa-user-circle" ></i></a>
   <a  class="btn btn-info" asp-controller="Home" asp-action="Index" ><i class="fa fa-home" ></i></a> 
</div>
</div>
<div>  
   <table class="table table-bordered table-hover table-striped tabla-Cliente">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                 <th>Telefono</th>
                  <th>Edad</th>                   
                    <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var cliente in Model)
                {
                   <tr>
                <td>@cliente.Nombre</td>
                 <td>@cliente.Direccion</td>
                  <td>@cliente.Telefono</td>
                   <td>@cliente.Edad</td>
                    <td>                  
                    <a class="btn btn-info" href="@Url.Action("ClienteEditar",new{id = cliente.Id})">Editar</a>
                    <a class="btn btn-danger" href="@Url.Action("ClienteEliminar",new{id = cliente.Id})">Eliminar</a>
                    <a class="btn btn-success" href="@Url.Action("PrestamoNuevo",new{id = cliente.Id})">Prestamo</a>   
                    <a data-id="@cliente.Id" class="btn btn-info verDireccion" href="Javascript:void(0);">Ver cliente</a>
                    </td>
                </tr>   
                }
            }
        </tbody>
    </table>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DETALLES DEL CLIENTE</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="valordescripcion">

        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



@section Scripts{
    <script>


     //$('.tabla-Cliente).DataTable();
   $(".verDireccion").click(function(){   
       var Id= $(this).attr("data-id");

      var ggg = $.ajax({
            url: "ObtenerDetalleCliente",
            type: "POST",
            data: {
              "Id":Id 
            }
        });

        ggg.done(function(data){
         $(".valordescripcion").text(data.message);
         $("#exampleModal").modal("show");

        });
        ggg.fail(function(){});

         }) 
   
    </script>
}