@model IEnumerable<CristobalCruz.Models.Customer>

@{
    ViewData["Title"] = "Listado";
}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) --> 
      <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">LISTADO DE CLIENTES </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
         <a asp-action="CrearCliente" asp-controller="Customer" asp-area="Usuario" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Nuevo Cliente</a>
           </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            
    <div class="col-12">   

          <div class="col-12">           
            <!-- /.card -->

            <div class="card">             
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tblCliente" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                               <th style="width:8em">@Html.DisplayNameFor(j =>j.Nombre) </th>
                               <th style="width:5em">@Html.DisplayNameFor(j =>j.Telefono) </th>
                               <th style="width:5em">@Html.DisplayNameFor(j =>j.Direccion) </th>
                               <th style="width:5em">@Html.DisplayNameFor(j =>j.Email) </th>
                               <th>Opciones</th>
                  </tr>
                  </thead>
                  <tbody>
                        @foreach(var item in Model)
                            {                               
                                <tr>
                                    <td>@Html.DisplayFor(j => item.Nombre)</td>
                                    <td>@Html.DisplayFor(j => item.Telefono)</td>
                                    <td>@Html.DisplayFor(j => item.Direccion)</td>
                                     <td>@Html.DisplayFor(j => item.Email)</td>
                                     <td>
                                         <a  class=" btn btn-primary" asp-action="EditCliente" asp-controller="Customer" asp-area="Usuario" asp-route-id="@item.Id">Editar</a>                                          
                                         <a data-id="@item.Id" class="btn btn-info verPrestamo" href="Javascript:void(0);">Prestamos</a>                                  
                                         <a class=" btn btn-primary" asp-area="Usuario" asp-controller="Prestamos" asp-action="CreatePrestamo" asp-route-ClienteId="@item.Id">Nuevo Prestamo</a>
                                     </td>
                                </tr>
                            }              
                  </tbody>                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
       </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >DETALLE DE PRESTAMOS</h5>      
      </div>
      <div class="modal-body">
      
           <div class="container">
             <div class="row">
               <div class="col-6">
                    <label><strong>Descripcion del Prestamo</strong></label><br />   
                  <span class="valordescripcion"> </span>
              </div>
              <div class="col-3">
                    <label><strong>Interes</strong></label><br />    
                   <span class="valorInteres"> </span>
              </div>
              <div class="col-3">
                     <label><strong>Monto</strong></label><br />      
                   <span class="valorMonto"> </span>
              </div>
            </div>
          </div>   

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>

@section Scripts{    
      <script src="~/js/misJsProyecto.js" type="text/javascript"></script>  
   
}

